.header {
  background-color: #48CAE4;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.title {
  /* margin: auto 0; */
}

.link-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
}

.link-container div {
  overflow: hidden;
  padding: 10px 15px;
}

.link-container div:hover {
  background-color: #0077B6;
}

.link-container a {
  height: 100%;
  display: block;
}

.link-container a,
.link-container a:hover
.link-container a:visited {
  color: black;
}

.info {
  cursor: pointer;
}