.header {
  background-color: #48CAE4;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 10;
  box-shadow: 0px 2px 10px grey;
}

.link-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
}

.link-container a,
.link-container div {
  overflow: hidden;
  padding: 5px 15px;
}

.link-container div:hover,
.link-container a:hover {
  background-color: #0077B6;
  overflow: hidden;
}

.link-container a,
.link-container a:hover
.link-container a:visited {
  color: black;
}

.info {
  cursor: pointer;
}