.header {
  background-color: #48CAE4;
  height: 5vh;
  width: 100vw;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}