body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.address-bar{
  width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 8px #888888;
  z-index: 10;
}

.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 100%;
  width: 100%
}


