body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #48CAE4;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.address-bar{
  width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 8px #888888;
  z-index: 10;
}

.wrapper {
  flex: 1;
}

#map {
  height: 100%;
  width: 100%
}

.loading-grayscreen {
  height: 100%;
  width: 100%;
  background-color: darkslategray;
  position: absolute; 
  z-index: 10;
  opacity: .7;
}